<mat-card *ngIf="machine$ | async as machine">
  <mat-card-title>{{ machine.name }}</mat-card-title>

  <mat-card-content>
    <dl>
      <dt class="title">Current status:</dt>
      <dd>
        <app-machine-status [status]="machine.status"></app-machine-status>
      </dd>

      <dt class="title">Statuses ({{ machine.statusChanges.length }})</dt>

      <dd>
        <div *ngFor="let statusChange of machine.statusChanges">
          <app-machine-status [status]="statusChange.status"></app-machine-status>
          {{ statusChange.timestamp | date: 'shortTime' }}
        </div>
      </dd>
    </dl>
  </mat-card-content>
</mat-card>