app-machine-status {
  margin-left: 30px;
}

mat-list-item {
  margin-bottom: 10px;
}

.badge-green {
  background-color: green;
  color: white;
}

.badge-red {
  background-color: red;
  color: white;
}
